<div class="container">
  <h1>SpaceX Missions</h1>

  <div class="mission-grid">
    @for (mission of missions; track mission.flight_number) {
      <mat-card class="mission-card">
        <img
          mat-card-image
          [src]="mission.links.mission_patch_small"
          [alt]="mission.mission_name"
        />

        <mat-card-header>
          <mat-card-title>{{ mission.mission_name }}</mat-card-title>
          <mat-card-subtitle>Flight #{{ mission.flight_number }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card-content>
        <p><strong>Launch Year: </strong>{{ mission.launch_year }}</p>
        <p><strong>Details: </strong>{{ mission.details || 'No Details available' }}</p>
        <p><strong>Rocket Name: </strong>{{ mission.rocket.rocket_type }}</p>
        <p><strong>Rocket Type: </strong>{{ mission.rocket.rocket_type }}</p>

        <p>
          <strong>Links: </strong><br />
          <a [href]="mission.links.article_link" target="_blank">Article</a>
          <a [href]="mission.links.wikipedia" target="_blank">Wikipedia</a>
          <a [href]="mission.links.video_link" target="_blank">Video</a>
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    }
  </div>
</div>
